body {
  background: #F17370;
  color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Avenir', Arial;
  font-weight: 600;
  font-size: 3em;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}