body {
  background: #E26D5A;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 600;
  font-size: 2.7em;
}

div{
	display: block;
}


h1#main-header{
  color: #F0ECE1;
  text-align: center;
  margin: 20px auto;
}